/**!
 * b4st CSS
 */

.site-header-image {
	display: block;
	margin: auto;
}

.alignleft {
	float: left;
	margin: 0px 30px 30px 0px;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}


.size-thumbnail {
	max-width: 87% !important;
}

/* Responsive Container (because Bootstrap 4.0.0 doesn't have this) */

.container-responsive {
	width: 100%;
	max-width: 992px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {padding: .2rem 1rem;}

.navbar > .container-responsive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

span.navbar-toggler-icon {background: url("../img/menu.svg") !important;}


.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-responsive {
	padding-right: 0;
	padding-left: 0;
}
.navbar > .container,
.navbar > .container-responsive {
	max-width: 1110px;
}

/* Blog */

.wp-post-image {margin-top:20px;margin-bottom:20px;}


.page-item.active .page-link {
        background-color: #999999;
    border-color: #999999;
}

.page-link, .page-link:hover {color: #999999;

}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

/* Slider */

#kennylad {min-height: 100px;
    height: 428px;
}

.ken-burns-slideshow {
    text-align:center;
}

.ken-burns-slideshow__slide {
        width:100%;
        height:109% !important;
}


/* Breadcrumbs */

.page-id-2 #breadcrumbs {
    display:none;
}


/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}


/* Formatting */

body {font-family: 'Lato', sans-serif;}

html {font-size:1rem;}

h1 {font-size: 2.2rem;}

h2 {font-size: 1.5rem;}
/*.blog h2 {padding-right:100px;}*/

a {color:#444444;}
a:hover {color:#999999;}

a.navbar-brand {font-size: 3.2rem;font-weight: 600; text-transform: uppercase;letter-spacing: 0.3rem;color:#999999;margin-top: 1.2rem}

.navbar-brand {margin-right:0;}

nav.mainnav,footer {text-transform:uppercase;font-size:0.8rem;background:#c9c9c9;}
nav.mainnav li {margin: 0px 16px}

#content a {text-decoration:underline;}
.blog #content a {text-decoration:none;}

dd {margin-top:0.5rem;margin-bottom:0.5rem;}

dl.gallery-item {float: left;margin-top: 10px;text-align: center;width: 33.3333%;height:400px;}

.page-id-921 .hideenquiry {display:none;}

.btn {padding: .200rem 0.6rem; font-size: 0.8rem;}

.btn-primary {background-color: #999999;border-color:#c9c9c9;}
.btn-primary.focus, .btn-primary:focus {box-shadow: 0 0 0 0rem rgba(60,199,255,.5)}
.btn-primary:hover {background-color: #444444;border-color:#444444;}

.gallery-icon button {margin-top:10px;}

.modal-body {padding:2rem;}

#head-social .ssk-group {text-align: right; margin-top: 25px;}
.ssk-grayscale>.ssk-facebook, .ssk-grayscale>.ssk-twitter, .ssk-grayscale>.ssk-instagram, .ssk-grayscale>.ssk-pinterest, .ssk-grayscale>.ssk-email {background-color: #c9c9c9 !important;}

/* Forms */

div.wpcf7 {margin:auto;}

div.wpcf7 label {float:left;}

div.wpcf7 .btn {
		margin-top:20px;
    padding: .400rem 1rem;
    font-size: 0.8rem;
		float:right;
	}


/* Site footer */

@media (min-width: 310px) {
#kennylad {height:205px;}
dl.gallery-item {width:100%;float:none;height:auto;margin-bottom:50px;}
.mt-5, .my-5 {margin-top: 1rem !important;}
a.navbar-brand {font-size:2.2rem;}
}

@media (min-width: 349px) {
.brand-container {height:150px;}
 #kennylad {height: 230px;}
 a.navbar-brand {font-size:2.4rem;}
}

@media (min-width: 767px) {
.brand-container {height:150px;}
 #kennylad {height: 428px;}
 a.navbar-brand {font-size:2.8rem;}
}

@media (min-width: 992px) {
#kennylad {
   height: 521px;
    width: 943px;
    overflow: hidden;
    margin: 23px auto;
}
dl.gallery-item {width:33.33%;float:left;min-height:360px;margin-bottom:50px;}

a.navbar-brand {font-size:3.2rem;}
}
@media (min-width: 1200px) {

}
