/*
Theme Name: Jo Taylor Art
Theme URI: https://www.marconeill.co.uk
Description: A theme specifically for jotaylorart.com
Author: Marc O'Neill
Author URI: https://www.marconeill.co.uk
Version: 2
*/


/* Reset all styles
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


/* Global Elements
-------------------------------------------------------------------------------*/
body {font-family:'Lato', sans-serif;font-size:13px;background:#ececed;}

body, select, input, textarea {color: #333;}

a {margin: 0; padding: 0; font-size: 100%; color: #5A5540;vertical-align: baseline; background: transparent;}

a:hover {color: #69f;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

h1 {font-size:2.5em;color:#444444;text-transform: uppercase;margin: 31px 0px 26px 0px;}

p {font-size:14px;line-height:29px;margin:7px 0px 22px 0px;}


/* Tweaks
-------------------------------------------------------------------------------*/
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* WordPress Elements
-------------------------------------------------------------------------------*/
#page-wrap {width: 960px; margin: 20px auto;}

.post {}
.entry-content {}
.entry-content a {}
.entry-content a:hover {}

#meta {}
.postmetadata {}

#sidebar {}

.navgation {}
.next-posts {}
.prev-posts {}

#searchform {}
#s {}
#searchsubmt {}


/* Layout
-------------------------------------------------------------------------------*/

/* Containers
--------------------------------*/
#content-m {max-width:980px;background:#fff;min-height:200px;margin:auto;overflow:hidden;}

#address-block {width:40%;float:left;min-height:310px;}
#address-block-ex {width:40%;float:left;min-height:310px;margin-left:50px;}

div.address {width:40%;float:right !important;}
div.wpcf7 {float:left;width:49%;}

#TB_caption {padding:7px 30px 40px 25px !important;}


/* Header
--------------------------------*/
header {height:135px;border-bottom:1px solid #fff;text-align:center;background: #ffffff;}
div#header-content {width:960px;margin:auto;}


/* Footer
--------------------------------*/
footer {max-width:990px;margin:auto;margin-top:10px;}
footer p {font-size:12px;margin-top:0px;color:#444444;}
footer a:link {text-decoration:none;}

p.owner-l {float:left;width:49%;}
p.owner-r {float:right;width:49%;text-align: right;}


/* Nav
--------------------------------*/
nav {max-width:990px;margin:auto;text-align:center;}
nav ul {padding-top: 11px;}

#nav-m {height:41px;background:#c9c9c9;}
#nav-m ul li a {color:#444444;text-decoration:none;}
#nav-m li {display:inline;padding:10px;margin:10px;font-size:13px;text-transform: uppercase;}

nav#access span {height:41px;display:block;text-align:right;margin-right:50px;font-weight:bold;}
nav#access span a, nav#access span a:visited {color:#fff;text-decoration:none;}

ul.sub-item-menu {margin-top:10px;}
ul.sub-item-menu li {display:inline;font-size:16px;margin-right:15px;}
ul.sub-item-menu li a {color:#999999;text-decoration:none;font-size:16px;}
ul.sub-item-menu li a:hover {text-decoration:underline;}
ul.sub-item-menu li.current_page_item a {text-decoration:underline;}

li.pagenav {display:inline;font-weight:bold;}
li.pagenav ul li {font-weight:normal;display:inline-block;margin-top:4px;}

.ngg-navigation {height:auto !important;padding-bottom:10px !important;}


/* Icons and stuff
--------------------------------*/
div#social-follow {height: 29px;float:left;width:49%;clear:both;display: inline-block;vertical-align: middle;}
p.social-text {display: inline-block;vertical-align: middle;}

div#social-logos {text-align:right;padding-top:15px;}
div#social-logos img {margin-left:9px;}


/*Formatting
--------------------------------*/
body.home article h1 {display: none;}

header h1 {font-size:4em !important;color:#999999;letter-spacing: 13px;margin:0;}

.post h2 {font-size:2em;}

img.alignright {float:right;margin-left:30px;margin-right:20px;}
div.alignright {float:right;margin-left:30px;margin-right:20px;}

p.wp-caption-text {margin:0;padding:0;text-align:center;color:#666;}


/*Images
--------------------------------*/
.ngg-gallery-thumbnail {border: none !important;}
.ngg-gallery-thumbnail a {margin: 0 !important;}
.ngg-gallery-thumbnail img {width:auto;height:164px !important; margin:12px auto !important;}
.ngg-gallery-thumbnail-box {width:33.33%;}


/*Forms
--------------------------------*/

div.wpcf7 input {font-size:17px;width:60%;padding:6px;}
div.wpcf7  textarea {width:90%;font-size:17px;padding:6px;}
div.wpcf7 input.wpcf7-captchar {width:40%;}
form.wpcf7-form {margin-left:20px;}
.wpcf7-captchac {border:1px solid #888888 !important;padding:5px;}

#address-block h2, #address-block-ex h2 {font-size:1.2em;margin:0;padding:0;color:#444444;text-transform: uppercase;}
#address-block p, #address-block-ex p {margin:0px 0px;padding:5px 0px;}

#news-block {border-bottom:1px solid #eee;margin-top:30px;overflow:hidden;padding-bottom:40px;}
#news-block p {padding-top:0;margin-top:0;}
#news-block h2 {font-size:1.3em;text-transform: uppercase;margin-bottom: 20px;}
#news-block img {float:left;height:180px;width:auto;}
#news-block img.aligncenter {text-align:center;height:180px;width:auto; margin:20px auto; display:block;float:none; !important}
#news-block .gallery-item {width:auto !important;margin-right:10px;}


/* Media queries!
-------------------------------------------------------------------------------*/
@media screen and (max-width: 2000px) {

article.post {padding:29px 68px;}

}

@media screen and (max-width: 1439px) {

article.post {padding:29px 68px;}

}

@media screen and (max-width: 1199px) {

header {background: yellow;}
article.post {padding:29px 68px;}

}

@media screen and (max-width: 991px) {

header {background: orange;}

div#social-logos {text-align: center;}

div#header-content {width: 100%;}

header h1 {font-size: 3em !important;margin-top:10px;}

p.owner-l {width: 100%;float:none;text-align: center;}
p.owner-r {width: 100%;float:none;text-align: center;}

div.alignright {float:none;width: 100%;max-width: none !important;margin-left: 0;margin-right: 0;}
img.alignright {float:none;width: 100%;max-width: none !important;margin-left: 0;margin-right: 0;height: auto;}

img.size-thumbnail {width: 100%;height:auto;margin:auto;}

}

@media screen and (max-width: 800px) {

header {background:  red;}

header h1 {font-size: 2.2em !important;margin-top:20px;}

}

@media screen and (max-width: 480px) {

header h1 {font-size: 5em !important;margin-top:10px;}
header {background:  darkred;}

}
